@page "/add-message"
@rendermode InteractiveServer
@using Calcis.Modules.Base.Api.Controllers
@using Microsoft.AspNetCore.Components.Forms
@inject IBaseController Data

<PageTitle>Dodaj wiadomoϾ</PageTitle>

<h1>Dodaj wiadomoϾ</h1>

<EditForm Model="@command">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="command.Name" />
    </div>

    <div>
        <label for="email">Value:</label>
        <InputText id="email" @bind-Value="command.Value" />
    </div>

    <button type="submit" class="btn btn-primary" @onclick="CreateMessage">Dodaj</button>
</EditForm>


@code {
    private Application.Commands.AddMessage command = new Application.Commands.AddMessage();
    
    private void CreateMessage()
    {
        Data.SendMessage(command);
    }
}